.column-one{
    width:21%;
    display:inline-block;
    margin-bottom: 20px;
}
.column-two{
    width:27%;
    display:inline-block
}
.column-three{
    width:21%;
    display:inline-block
}
.column-four{
    width:27%;
    display:inline-block
}
.three{
    width:75%;
    display:inline-block;
}
.select-cbn{
    width:75%;
    display:inline-block;
    margin-bottom: 30px;
}
.checkbox{
    margin-left: 0px;
}
.select{
    width:173px;
}
#save::shadow .button-content {
    padding: 4px;
    font-size:10pt;
}
#save{
    background: #4285f4;
    color: #fff;
    margin:0px;
}
.numeHtml{
    background: #009688;
    color: #fff;
    margin: 0 0 0 0;
}
.numeHtml::shadow .button-content {
    padding: 4px;
    font-size:10pt;
}
#body{
    margin-left: 20px;
}
